<ion-header>
  <app-home-toolbar title="Eventos" [router]="router">
  </app-home-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/conferencia.jpg" alt="">

    <ion-card-header>
      <ion-card-subtitle>Conferencia</ion-card-subtitle>
      <ion-card-title>LA IMPORTANCIA DEL LENGUAJE DE SEÑAS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="ion-text-justify">
        Conferencia magistral sobre la importancia del lenguaje de señas en un mundo conectado,
        con el conferencista Johan Manuel Zambrano, interpretado por el afamado interprete de 
        lenguaje de señas Francisco Pérez Unamuno, este evento se llevará a cabo en la sede de 
        la Universidad Abierta para Adultos (UAPA).
      </p>
      <br>
      <h3>14 de agosto de 2021 de 2:30pm a 4:00pm.</h3>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/graduacion.jpg" alt="">

    <ion-card-header>
      <ion-card-subtitle>Graduación </ion-card-subtitle>
      <ion-card-title>CEREMONIA DE CLAUSURA DEL CURSO LENGUAJE DE SEÑAS AVANZADO</ion-card-title>
    </ion-card-header>
       
    <ion-card-content>
      <p class="ion-text-justify">
        Ceremonia de graduación del curso lenguaje de señas avanzado, nos place invitarle a nuestro 
        cierre oficial, esperamos que nuestros graduados sean de gran ayuda a la sociedad y que cada
        vez mas personas decidan estudia lenguaje de señas para conectar a personas con dificultades
        auditivas con el resto del mundo, este evento se llevará a cabo en la sede de la Universidad
        Abierta para Adultos (UAPA).
      </p> 
      <br>
      <h3>17 de agosto del 2021 de 4:30pm a 6:00pm.</h3>
       
    </ion-card-content>
  
  </ion-card>

</ion-content>
