<ion-header>
  <app-home-toolbar title="Interpretes" [router]="router">
  </app-home-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        Todos
      </ion-segment-button>
      <ion-segment-button value="availables">
        Disponibles
      </ion-segment-button>
      <ion-segment-button value="experts">
        Expertos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
<ion-list>
  <div >
    <app-interpreter-list-item 
    *ngFor="let interpreter of interpreters"
    [interpreter] = "interpreter" (clickItem)="goToProfile($event)">
    </app-interpreter-list-item>
  </div>
</ion-list>
</ion-content>
