<ion-header>
  <app-home-toolbar title="Interpretes" [router]="router">
  </app-home-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [value]="selectedItem" [ngModel]="selectedItem" (ngModelChange)="onTabChange($event)" >
      <ion-segment-button value="all">
        Todos
      </ion-segment-button>
      <ion-segment-button value="availables">
        Disponibles
      </ion-segment-button>
      <ion-segment-button value="experts">
        Expertos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar por nombre, ciudad o idioma" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus" cancelButtonText="Cancelar" (ionCancel)="cancelFilter()">

  </ion-searchbar>
<ion-list *ngIf="filteredList?.length > 0; else empty">
  <div >
    <app-interpreter-list-item 
    *ngFor="let interpreter of filteredList"
    [interpreter] = "interpreter">
    </app-interpreter-list-item>
  </div>
</ion-list>
<ng-template class="position-relative" #empty>
  <div #empty_container class="position-absolute top-50 start-50 translate-middle">
      <img class="row center-block mx-auto my-1" style="max-width: 60%;" src="../../../assets/empty.png"/>
      <ion-list-header class="p-0">
        <ion-label class="text-center">Lista Vacía</ion-label>
      </ion-list-header>
    </div>
</ng-template>
</ion-content>
