<ion-header>
  <app-home-toolbar [router]="router" title="Acerca de"></app-home-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/logo-L.png" alt="">

    <ion-card-header>
      <ion-card-subtitle>Información</ion-card-subtitle>
      <ion-card-title>Mi Intérprete</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="ion-text-justify">
         Mi Intérprete es la primera plataforma de solicitud y promoción de servicios de interpretación de lenguaje de señas en el 
         país, con esta iniciativa pretendemos conectar a los solicitantes con los intérpretes de forma sencilla e intuitiva, para
         esto simplemente tienen que elegir uno de los intérpretes publicados y hacer la solicitud de servicio, inmediatamente dicha
         solicitud es aceptada por el intérprete este se comunica con el solicitante por la vía que haya especificado además como
         extra la implementación de servicios de interpretación en diversos idiomas está contemplada en nuestra la plataforma para
         que intérpretes de otros lenguajes puedan promocionarse en su debido espacio.
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="../../../assets/Chritopher.jpg" alt="">

    <ion-card-header>
      <ion-card-subtitle>Proyect Manager, Programador, Tester y Q.A del Proyecto</ion-card-subtitle>
      <ion-card-title>Christopher Paulino</ion-card-title>
    </ion-card-header>
       
    <ion-card-content>
      <p class="ion-text-justify">
        Entusiasta y apasionado del desarrollo movil, Software Developer con mas de 3 años  de experiencia en 
        el desarrollo de software y miembro del Equipo B-ionic.
      </p> 
       
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="../../../assets/Jamelyn.jpeg" alt="">

    <ion-card-header>
      <ion-card-subtitle>Analista De Software, Tester y Q.A del Proyecto</ion-card-subtitle>
      <ion-card-title>Jamelyn Chanil Medina</ion-card-title>
    </ion-card-header>
       
    <ion-card-content>
      <p class="ion-text-justify">
         Polifacética con un genuino interés en ayudar a los que lo requieran, una actitud resolutiva ante
         problemas que afectan a las sociedades modernas, estudiante de término de Ingeniería en de software, 
         Interesada en la ciberseguridad,  miembro del equipo B-Ionic.
      </p> 
       
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="../../../assets/Jhon.png" alt="">

    <ion-card-header>
      <ion-card-subtitle>Arquitecto De Software, Diseñador Grafico, Tester y Q.A del Proyecto</ion-card-subtitle>
      <ion-card-title>Jhon E. Torres</ion-card-title>
    </ion-card-header>
       
    <ion-card-content>
      <p class="ion-text-justify">
         Un joven dominicano apasionado por la informática, el arte gráfico, la fotografía,
         el hardware y los videojuegos, estudiante de termino de Ingeniería de Software y
         miembro del equipo B-ionic.
      </p> 
       
    </ion-card-content>
  </ion-card>

</ion-content>
