<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Quiero ser interprete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">

<ion-slides *ngIf="hasData" scrollbar style="padding-top: 30px">

  <ion-slide *ngFor="let slide of slides" >
    <div class="slide">
      <img *ngIf="slide.imageUrl" [src]="slide.imageUrl"/>
      <h1>{{slide.title}}</h1>
        <p> {{slide.description}} </p>
     
      <a>{{slide.footer}}</a>
    </div>
  </ion-slide>


  <ion-slide>
    <div class="slide">
      <img src="assets/business-card.png" style="margin: 10px 0 10px !important;" alt="">
      <ion-list-header class="p-0">
        <ion-label mode="ios">Vamos a completar tu perfil de interprete</ion-label>
      </ion-list-header>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Breve descripción sobre ti<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="aboutMe" type="text"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col size="12">
            <ion-list-header class="p-0">
              <ion-label mode="ios">Lenguajes</ion-label>
            </ion-list-header>
          </ion-col>
        </ion-row>

        <ion-item>
         
          <ion-select required multiple="true" placeholder="Lenguajes que domina" formControlName="languages">
            <ion-select-option *ngFor="let language of languages" [value]="language.name">
              {{language.name}}
            </ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label><ion-text color="danger">*</ion-text> Acepto las condiciones leídas.</ion-label>
          <ion-checkbox formControlName="accepted" required color="primary" slot="start"></ion-checkbox>
        </ion-item>
        

        <ion-button block color="primary" type="submit" [disabled]="registerForm.invalid">
          ¡Registrarme!
        </ion-button>
      </form>
    </div>
   
  </ion-slide>
</ion-slides>


</ion-content>