ion-content {
  --background: #ffffff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --margin-bottom: 2rem;
  --padding-end: 2rem;
  --padding-start: 2rem;
  --margin-top: 2rem;
}


.login-input {
  border: 1px #eaeaea solid;
  background-color: #f6f6f6;

}

.submit-button {
  display: block;
  margin: 2rem 2rem 1rem 2rem;

}

.login-form {
  margin-top: 6rem;
}

.login-form ion-item {
  margin-top: 1rem;
}

.login-form a {
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none !important;
}

.login-footer {
  padding: 0 !important;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-options {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-options-buttons {
  display: flex;
}

.login-options img {
  width: 2rem;
  height: 2rem;
}

a {
  text-decoration: none;
}
