<ion-content>
<div>
 <app-logo-header>
   
 </app-logo-header>
</div>

<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input   required formControlName="username" clearInput [clearOnEdit]="false" autocapitalize="off" inputmode="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña </ion-label>
      <ion-input required formControlName="password" clearInput autocapitalize="off" type="password"></ion-input>
    </ion-item>
    <ion-button class="submit-button" block color="primary" type="submit" [disabled]="loginForm.invalid">
      Iniciar Sesion
    </ion-button>
    <a href="">¿Olvidaste tu contraseña?</a>
  </form>
</div>



<div class="login-options">
  <h5>Iniciar con:</h5>
  <div class="login">
<ion-button (click)="loginGoogle()" fill="clear" shape="round">
  <img src="../../../assets/google.png" alt="">
</ion-button>
</div>
<div class="login-footer">
  <h5>¿Aún no tienes cuenta?</h5>
</div>
<div class="login-footer-link">
  <h5><a [routerLink]="['/register']">Registrate</a></h5>
</div>
</div>


</ion-content>
