<ion-header>
  <app-home-toolbar title="Servicios contratados" [router]="router">
  </app-home-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment #list [ngModel]="selectedList" (ngModelChange)="change($event)">
      <ion-segment-button value="pending">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="accepted">
        Aceptadas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="hasData;else empty">
    <div  
    *ngFor="let booking of bookings">
    <app-booking-list-item 
    *ngIf="booking.interpreter"
    [booking] = "booking" >
 
   </app-booking-list-item>
    </div>
    
  </div>
 
  <ng-template  class="position-relative" #empty>
<div class="position-absolute top-50 start-50 translate-middle">
  <h2>Lista vacia</h2>
</div>
    
  </ng-template>
    
</ion-content>
