<ion-card class="p-0 m-1">
  <ion-item class="p-0">
    <ion-label class="p-0">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <h2><b>{{comment.user}}</b></h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h3>{{comment.description}}</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <rating 
            [rate]="comment.rating"
            size=“10px” size=“small” size=“default”>

            </rating>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
</ion-item>
  </ion-card>
