<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Salir"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataLoaded">
    <app-profile  [isInterpreter]="true" [interpreter]="interpreter">

    </app-profile>
    <ion-button class="mx-4" [routerLink]="['contact']" expand="block"  >
      Contactar
    </ion-button>

    <ion-row class="mx-4">
      <ion-col size="6">
        <ion-button class="" expand="block" fill="outline" >
          Comentarios
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class=""  expand="block"  fill="outline" >
          Certificados
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
